.modal__content-confirm {
  width: 670px;
  height: 280px;
  background-color: white;
  top: 271px;
  left: 385px;
  border-radius: 20px;
  border-width: 1px;
}

.modal__confirm-text {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.modal__confirm {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ff4d00;
  border: none;
  background: none;
  margin: 50px 266px 108px 260px;
}

.modal__cancel {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  margin: 196px 304 60px 305px;
  position: relative;
  top: 160px;
  left: 303px;
}
