.card__image {
  width: 328px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3); /* Black with 30% opacity */
  overflow: hidden;
}

.card__name {
  font-family: " Cabinet Grotesk ", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
  opacity: 60%;
}

.card__like-button {
  background-image: url("../../assets/heart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: none;
}

.card__like-button_active {
  background-image: url("../../assets/blackheart.svg");
}

.card__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0px;
  width: 100%;
  justify-content: center;
}

.card__image-container {
  position: relative;
}
