.page {
  background-color: #f3f3f3;
  line-height: 1.15;
}

.page__content {
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
