/* .modal__content_type_image {
  padding: 0;
  overflow: hidden;
} */

.modal__image {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.modal__caption {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 32px;
}

.modal__caption:last-of-type {
  margin-bottom: 12px;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
}

.modal__weather {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 32px;
}

.modal__delete-item {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ff4d00;
  background: none;
  border: none;
  margin-top: -120px;
}

.modal__content--image {
  padding: 34px 36px;
  border: 1px solid;
  font-size: 16px;
  line-height: 20px;
  min-width: 450px;
  width: 502px;
  height: 412px;
  border-radius: 16px; /* overrides parent */
}
