.sidebar {
  display: flex;
  gap: 10px;
  align-items: center;
  min-height: 40px;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar__username {
  border: none;
  font-size: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
}
