.sidebar {
  display: flex;
  gap: 10px;
  align-items: center;
  min-height: 40px;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar__logout-button {
  border: none;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
}

.sidebar__username {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
